.submit-comment{
    margin-top: 90%;
}

.containerComments{
    overflow-y: scroll;
}

/* .gallery-image{
    margin-left: 0%;
    /* margin-top: -20px; */
    /* height: 1px; */
/* } */ 

/* .ul{
    margin-left: -100px;
} */

.handleComment{
    position: absolute;
}    