.submit-comment{
    margin-top: 90%;
}

.containerComments{
    overflow-y: scroll;
    margin-bottom: 5px;
}

/* .gallery-image{
    margin-left: 0%;
    /* margin-top: -20px; */
    /* height: 1px; */
/* } */ 

/* .ul{
    margin-left: -100px;
} */

.handleComment{
    position: absolute;
    margin: 0 2em;
    border-top: 1px solid grey; 
    padding: 0 79px;
    margin-left: -1%;
}    


.comment-button{
    width: 100%;
    margin-left: -29%;
    margin: 0;
}

