/* .galleryImage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-content: center;
    margin-left: 50%;
    
   
} */
.showPostDiv{
 height: 500px;

} 
/* .gallery-item {
   height: 100px;
} */
@media(max-width: 1355px){
    .container{
        margin: auto;
        padding: 0;
        top: 0; 
        display: grid;
        grid-template-columns: 1fr;
    }
}
.comments-list{
    height: 150px;

}
.comments-list li{
    margin-bottom: 10px;
}