 /* /* :root{
    font-size: 10px;
} */


/* *,
*::before,
*::after {
    box-sizing: border-box;
}

 body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
} 

img {
    display: block;
}

.container {
    max-width: 90.5rem;
    margin: 5 auto;
    padding: 0 2rem;
    
}

.profile-page{
    padding: 5rem 0;
}
.profile-image img{
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    border-radius: 50%;
}

.setting,
.stats,
.profile-description{
    float: left;
    width: calc(66.666% - 2rem);
}

.setting{
    margin-top: 1.1rem;
}

.user-name{
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.stats{
    margin-top: 2.3rem;
}

.profile-description{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.stats li{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.count,
.profile-description{
    font-weight: 600;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
    
}
.gallery-image{
    position: relative;
    display: grid;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
    display: grid;

    align-items: center;

    top: 0;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.3);
  
}   */

.form{
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 200px;
}